# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore egg files
*.egg
*.egg-info/
dist/
build/

# Ignore other build files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.coverage
*.tox
*.env
*.venv
.env/
.venv/

# Ignore other use scripts
user_scripts/
site/