# {{ name }}

**{{ title }}, {{ institution }}**

<img src="/assets/franco.jpg" alt="Franco N. P. B." width="200" align="right" style="margin: 0 0 1em 1em; border-radius: 10px;" />


{{ bio }}

---

## Research interests

{% for interest in research_interests %}
- **{{ interest.name }}:** {{ interest.description }}
{% endfor %}

See [projects](./projects/) for more details.

---

## Experience

{% for job in experience %}
- **{{ job.position }}**, {% for inst in job.institutions %}[{{ inst.name }}]({{ inst.url }}){% if not loop.last %}, {% endif %}{%- endfor %}, {{ job.location }} ({{ job.years }})
{% endfor %}
